{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
    <main class="m-auto w-25">
        <h1 class="text-center text-primary">Inscription</h1>
        <div class="">
            {{ form(registrationForm) }}
        </div>
    </main>

{% endblock %}
