{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<main class="w-50 m-auto">
    <h1 class="text-center">S'inscrire</h1>
    <div  class="m-3 w-75 m-auto">
        {{ form(registrationForm) }}
    </div>
</main>

{% endblock %}
