{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <style>
        body {background-color: #FFFFF2; display: flex; flex-direction:column; align-items: center }
        form{ width: 450px;  }
    </style>
<h1>Inscription</h1>

{{ form(registrationForm) }}
{% endblock %}