{% extends 'base.html.twig' %}

{% block title %}Création d'atelier{% endblock %}

{% block body %}
   <main>
       <h1 class="text-center text-primary pb-2">Création d'un nouvel atelier</h1>

       {{ include('back_office/atelier/_form.html.twig') }}
       <a href="{{ path('app_atelier_index') }}">Retour</a>
   </main>
{% endblock %}
