{% extends 'base.html.twig' %}

{% block title %}New Lycee{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Création d'un nouveau lycée</h1>

    {{ include('back_office/lycee/_form.html.twig') }}

    <a class="btn btn-primary mt-2" href="{{ path('app_lycee_index') }}">Retour à la liste</a>
{% endblock %}
