{% extends 'base.html.twig' %}

{% block title %}Inscription Lycéen{% endblock %}

{% block body %}
    <h1>Inscription Lycéen</h1>

    {{ form_widget(form) }}
    <button type="submit">S'inscrire</button>
{% endblock %}
