{% extends 'base.html.twig' %}

{% block title %}Inscription Lycéen{% endblock %}

{% block body %}
    <h1>Inscription Lycéen</h1>

    {{ include('back_office/lyceen/_form.html.twig') }}

    <a href="{{ path('app_lyceen_index') }}">back to list</a>
{% endblock %}
