{% extends 'base.html.twig' %}

{% block title %}Inscription Lycéen{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Inscription Lycéen</h1>

    {{ include('back_office/lyceen/_form.html.twig') }}

    <a class="btn btn-primary mt-2" href="{{ path('app_lyceen_index') }}">Retour à la liste</a>
{% endblock %}
